@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;
@use '../abstracts/shadows' as s;
@use '../base/typography';
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  @include m.distinctSize(100vw, 100vh);
  background: rgba(0, 0, 0, 0.41);
  backdrop-filter: blur(1.5px);
  @include m.flex-config(center, center, false, false);
  border: 1px solid c.color(border);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(1.5px);
  }

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: rgba(0, 0, 0, 0.8);
  }

  @include m.respond("tablet") {
    padding: 2.5rem;
  }

  @include m.respond("phablet") {
    padding: 2rem;
  }

  @include m.respond("phone-wide") {
    padding: 0.25rem;
  }
  &__body {
    background-color: white;
    border-radius: 10px;
    padding: 35px 42px;
    margin-bottom: 2.3rem;
    width: calc(100vw - 900px);
    @include m.respond("phone-wide") {
      padding-right: 2rem;
      width: 100%;
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid c.color(border);
  }

  &__right {
    margin-top: 20px;
  }

  &__center {
    border: 1px solid #e9eaec;
    border-radius: 8px;
    padding-left: 10px;
    height: 20rem;
    position: relative;

    &-title {
      position: relative;

      &-1 {
        position: absolute;
        top: 0;
        left: 0;
      }

      &-2 {
        position: absolute;
        padding-top: 1.2rem;
        left: 0;
      }
    }
  }

  // Search bar component on the admin list modal
  &__search {
    border: 1px solid c.color(border);
    border-radius: 8px;
    height: 32px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 15px;
    &-body {
      // padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    &-icon {
      svg {
        width: 0.8rem;
        fill: c.color(primary);
        stroke: c.color(primary);
      }
    }
  }

  // admin section for the admin list modal
  &__admin {
    margin-top: 0.2rem;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &-center {
      width: 6rem;
      height: 6rem;
      border: 1px solid c.color(border);
      border-radius: 8px;
      position: relative;
      padding: 28px;
      &:hover {
        border: 1px solid c.color(primary);
      }

      &:not(:last-of-type) {
        &::before {
          content: "\2713";
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 10px;
          margin-top: 10px;
          padding: 1px;
          color: c.color(white);
          background-color: c.color(primary);
          border-radius: 50%;
        }
      }

      &-1 {
        position: absolute;
        left: 0;
        padding-top: 2.8rem;
        padding-left: 35px;
      }

      &-2 {
        position: absolute;
        padding-left: 15px;
        padding-top: 4.2rem;
      }
      &-3 {
        position: absolute;
        padding-left: 15px;
      }
    }

    &-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  &__edit {
    &-selection {
      border: 1.456px dashed #000921;
      padding: 20px;
      border-radius: 4px;
      background: #4f269f05 0% 0% no-repeat padding-box;
      opacity: 1;

      &-x {
        position: absolute;
        left: calc(100vw - 28.2rem);
        width: 12px;
        height: 12px;
        padding-bottom: 7px;
        padding-left: 3px;
        border-radius: 4px;
        background-color: c.color(buttonx);
        transform: translate(-50%, -50%);
      }

      &-circle {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        padding: -10px;
        margin-right: -6%;
      }

      &-admin {
        display: flex;
        flex-direction: row;
        padding-top: 9px;
        padding-bottom: 4px;
        padding-left: 7px;
        padding-right: 7px;
        justify-content: space-between;
        background-color: white;
        border: 1px solid c.color(border);
        border-radius: 4px;
      }
    }

    &-bottom {
      display: flex;
      justify-content: center;

      &-sign {
        margin-right: 0.3rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
        padding-bottom: 0.01rem;
        border-radius: 50%;
        background: c.color(primary);
        color: c.color(white);
        // text-align: center;
        // font-size: 9px;
      }
    }
  }

  &__details {
    margin-top: 4rem;
    position: relative;

    &-row {
      margin-top: -1rem;

      &:not(:last-of-type) {
        &::before {
          content: "";
          position: absolute;
          border-left: 0.5px dashed c.color(grey-600);
          height: 10rem;
          top: 35px;
          left: 9px;
        }
      }

      &-top {
        display: flex;
        flex-direction: row;
      }

      &-number {
        margin-right: 1rem;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        z-index: 99;
        padding-right: 1px;
        padding-bottom: 1px;
        background: black;
        border: 3px solid #000;
        color: c.color(white);
        text-align: center;
        font-size: 9px;
        font-weight: bold;
      }
      &-column {
        margin-top: -0.8rem;
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        margin-top: -1rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        gap: 0.2em;
        @include m.respond("phone-wide") {
          width: 100%;
        }
      }

      &-box {
        padding-left: 4px;
        padding-right: 4px;
        border: 1px solid c.color(border);
        border-radius: 4px;
        @include m.respond("phone-wide") {
          height: 2rem;
        }
        &-title {
          text-align: center;
          @include m.respond(phone-wide) {
            padding-bottom: 6rem;
          }
        }
      }
    }
  }

  &__border {
    border-bottom: 1px solid c.color(border);
  }

  &__footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid c.color(border);
  }

  &__footer1 {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid c.color(border);
  }

  &__btn {
    &-no {
      font-size: 12px;
      font-weight: 700;
      background-color: c.color(primary-200);
      text-align: center;
      padding: 10px 20px;
      border: none;
      @include m.radius(6px);
      box-shadow: 0;
      margin-right: 10px;
      outline: 0;
      color: c.color(primary);
    }

    &-yes {
      background-color: c.color(primary);
      text-align: center;
      font-size: 12px;
      padding: 10px 20px;
      @include m.radius(6px);
      border: none;
      box-shadow: 0;
      outline: 0;
      color: c.color(white);

      transition: box-shadow 0.2s ease;

      &:hover {
        box-sizing: s.$box-shadow-300;
      }
    }

    &-admin {
      background-color: c.color(bg-100);
      text-align: center;
      padding: 6px 16px;
      @include m.radius(4px);
      border: none;
      box-shadow: 0;
      outline: 0;
      color: c.color(admin);

      transition: box-shadow 0.2s ease;

      &:hover {
        box-sizing: s.$box-shadow-300;
      }
    }

    &-discard {
      font-size: 12px;
      font-weight: 700;
      background-color: transparent;
      text-align: center;
      padding: 10px 20px;
      border: none;
      @include m.radius(6px);
      box-shadow: 0;
      // margin-right: 10px;
      outline: 0;
      color: c.color(grey-200);
    }
  }
}
